#set( $title="Server $request.attributes.get('server') > $encoder.decode($request.attributes.get('domain')) > $encoder.decode($request.attributes.get('mbean')) > $encoder.decode($request.attributes.get('attribute'))" )
#set( $name="$encoder.decode($request.attributes.get('attribute')) - $encoder.decode($request.attributes.get('mbean'))" )
#parse("jminix/templates/header.vm")
#if($desc!="off")
$!{attribute.description}
#end
#if ($attribute.writable)
<form method="POST">
#if ($valueType=="checkbox")
<input type="$valueType" name="value" value="true" #if($value)checked#end/>
#elseif ($valueType=="number")
<input type="$valueType" name="value" value="$value" step="Any"/>
#else
<input type="$valueType" name="value" value="$value"/>
#end
<input type="submit" value="update"/>
#if($ok)
<span id="fade" style="color:green">Done</span>
<script>
setTimeout("document.getElementById('fade').style.display='none'",2000)
</script>
#end
</form>
#else
<pre>
$value
</pre>
#end
#parse("jminix/templates/footer.vm")