#set( $title="Server $request.attributes.get('server') > $encoder.decode($request.attributes.get('domain')) > $encoder.decode($request.attributes.get('mbean')) > $encoder.decode($request.attributes.get('attribute'))" )
#set( $name="$encoder.decode($request.attributes.get('attribute'))" )
#parse('jminix/templates/header.vm')
#if($desc!="off")
$!{attribute.description}
#end
<table>
<tr>
#foreach( $key in $value.tabularType.rowType.keySet() )
<th>$key</th>
#end
</tr>
#foreach ($row in $value.values())
	<tr>
	#foreach( $item in $row.compositeType.keySet() )
		<td>$row.get($item)</td>
	#end
	</tr>
#end
</table>
#parse('jminix/templates/footer.vm')