#set( $title="Server $request.attributes.get('server') > $encoder.decode($request.attributes.get('domain')) > $encoder.decode($request.attributes.get('mbean')) > $encoder.decode($request.attributes.get('attribute'))" )
#set( $name="$encoder.decode($request.attributes.get('attribute'))" )
#parse('jminix/templates/header.vm')
$attribute.description
<ul>
#foreach( $i in $items)
<li>	
	$i
</li>
#end
#parse('jminix/templates/footer.vm')