#set( $title="Server $request.attributes.get('server') > $encoder.decode($request.attributes.get('domain')) > $encoder.decode($request.attributes.get('mbean')) > $encoder.decode($request.attributes.get('attribute'))" )
#set( $name="$encoder.decode($request.attributes.get('attribute')) - $encoder.decode($request.attributes.get('mbean'))" )
#parse("jminix/templates/header.vm")
$attribute.description
#if ($attribute.writable)
<form method="POST"><input type="text" name="value" value="$value"/><input type="submit" value="update"/></form>
#else
<pre>
$value
</pre>
#end
#parse("jminix/templates/footer.vm")