#set( $title="Server $request.attributes.get('server') > $encoder.decode($request.attributes.get('domain')) > $encoder.decode($request.attributes.get('mbean')) > $encoder.decode($request.attributes.get('attribute'))" )
#set( $name="$encoder.decode($request.attributes.get('attribute')) - $encoder.decode($request.attributes.get('mbean'))" )
#parse("jminix/templates/header.vm")
#if($desc!="off")
$attribute.description
#end
<br><br>
<div style="padding-bottom:16px;width:100%;overflow-x:auto;overflow-y:hidden;">
$value
</div>
#parse("jminix/templates/footer.vm")