#set( $title="Server $request.attributes.get('server') > $encoder.decode($request.attributes.get('domain')) > $encoder.decode($request.attributes.get('mbean')) - Operations" )
#set( $name="$encoder.decode($request.attributes.get('mbean'))" )
#parse('jminix/templates/header.vm')

<dl>
#foreach( $pair in $items)
<dt>
	<a href='$encoder.encode($pair.declaration)/$query'>$pair.operation.name</a>
</dt>
<dd>
	$pair.operation.description<br>
	<tt><b>$pair.operation.name</b>(
	#foreach( $param in $pair.operation.signature )
		$param.type $param.name,		
	#end )</tt>
</dd>
</li>
#end
</dl>
#parse('jminix/templates/footer.vm')